.title{
    justify-content: center;
    text-align: center;
}
.container{
    max-width: 32rem;
    padding: 2rem;
    margin: 2rem auto;
    background: #fff;
    border-radius: .5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%);;
}
.game-instructions {
    margin-bottom: 2rem;
    color: var(--text-color);
    text-align: center;
}
.game-instructions p {
    margin: .5rem 0;
    line-height: 1.5
}
.form-group {
    margin-bottom: 1.5rem
}
.form-label {
    display: block;
    margin-bottom: .5rem;
    font-weight: 800;
    color: #1e293b
}
.form-input{
    width: 90%;
    padding: .75rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    color:#1e293b;
    background-color: #fff;
    border: 1px solid #e2e8f0;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.form-hint {
    display: block;
    margin-top: .5rem;
    font-size: .900rem;
    color: #1e293b;
}

.button-group{
    display: flex;
    gap: 1rem;
    margin: 2rem 0;
}
.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding:10px 16px;
    font-size: 1rem;
    font-weight: 500;
    line-height:1.5;
    vertical-align: middle;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: #0d6efd;
    border: 1px solid #0d6efd;
    border-radius: 4px;
    transition: all .15s ease-in-out;
}