h2{
    text-align: center;
    color: red;
}
.outer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: burlywood;
    margin: auto;
    padding: 10px;
}

.inner{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color:coral;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}