body{
    margin: 0;
    font-family: sans-serif;
}

.hashtag-header{
    padding: 4rem;
    background-color: #065fd4;
    color: white;
    background-image: url(./images/background.png);
    background-size: 280px;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: -160px;
}
.hashtag-header h1{
    margin: 0;
    margin-bottom: 1rem;
    font-size: 3rem;
}
.hashtag-header span{
    font-size: 2rem;
}
.hashtag-header img {
    width: 5rem;
    height: 5rem;
    border: 5px solid white;
    border-radius: 100%;
    vertical-align: middle;
}
img + img{
    margin: -1rem;
}