.card{
    
    width: 100%;
    max-width: 330px;
    height: 100%;
    max-height: 520px;
    background-color: #fffeff;
    box-shadow: 0px 10px 20px 0px #aaaaaa;
    position: fixed;
    margin: auto;
    inset: 0;
    border-radius: 16px;
    padding: 1rem;
}
img{
    width: 100%;
    border-radius: 10px;
}
body{
    background-color: #d5e1ef;
    font-family: cursive;
    text-align: center;
}
h2{
    color: hsl(218, 44%, 22%);
}
p{
    color: hsl(216, 15%, 48%);
}